@font-face{
    font-family: "Noto-sans";
    src: url(../../fonts/NotoSans-VariableFont_wdth\,wght.ttf);
}
.todo_item{
    font-size: 1rem;
    background-color: rgb(184, 184, 184);
    display: flex;
    justify-content:space-around;
    width: 90%;
    max-height: fit-content;
    margin: 15px 0;
    border-radius: 10px;
    height: auto;
    align-items: center;
    position: relative;
    font-family: "Noto-sans";
    word-break: break-word;
}

.todo_item:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 3px rgb(97, 96, 96);
}

.item_action{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    min-width: 30px;
    min-height: 30px;
    margin: 0 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(184, 184, 184);
}

.item_action--completed{
    background-color: rgb(159, 212, 174);
    color: white;;
}

.item_action--delete{
    position: absolute;
    top: -15px;
    right: -25px;
}

.item_description{
    width: 80%;
}

.item_description--completed{
    text-decoration: line-through;
}

.item_action:hover{
    background-color: rgb(97, 96, 96);
}
.item_action:hover .svg{
    fill: white;
}
@media (min-width: 600px){
    .item_description{
        font-size: 20px;
    }

    .item_action{
        width: 2.8rem;
        height: 2.8rem;
    }
}
